.upload-container {
    align-self: center;
    justify-self: start;
}

.custom-script-input {
    display: none
}

.custom-script-label {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin: 30px;
    border-radius: 20px;

    background-color: var(--a2u-blue);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.custom-script-label:not(:hover)::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.custom-script-label:hover {
    width: 120px;

    cursor: pointer;
    background: var(--federal-blue);

    animation: 50ms open-text linear;
}

.custom-script-label:hover::after {
    content: 'Upload Script';
    font-weight: bold;

    animation: 50ms text-zoom-to-fit linear;
}