#script-page {
    height: calc(100vh - 20px);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    color: white;
}

#script-menu {
    height: 150px;

    grid-column: 1 / span 4;
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: start;

    overflow: hidden;
    overflow-x: auto;

    background: transparent;
}