#script-view  {
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;

    border-radius: 10px;
    margin: 10px;

    background: white;
    color: var(--dark-purple);
}

#script-run-button {
    width: 130px;
    min-width: 130px;
    height: 75px;

    border-radius: 10px;
    margin: 10px;

    background: var(--a2u-blue);
    color: white;

    align-self: end;
    justify-self: end;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.input-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
        margin: 10px 0;
    }
}