#script-view  {
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;

    border-radius: 10px;
    margin: 10px;

    background: white;
    color: var(--dark-purple);
}

.input-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
        margin: 10px 0;
    }
}