.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-button {
    width: 350px;
    height: 100px;

    justify-content: center;
    align-items: center;

    margin: 10px;
    background: var(--light-blue);
    border-radius: 15px;

    cursor: pointer;

    color: white;
}

.post-button:hover {
    background: var(--a2u-blue);
 }